@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-danger vh-100">
    <div class="row text-center">
        <h1 class="mt-5">Welcome Library Automation</h1>

        <a href="/Home/SignIn" class="mt-3"><h4> >>Click To Login<<</h4></a>
    </div>
</div>