@using Library.WebUI.Dtos.AuthorDtos
@model CreateAuthorDto

<div class="container-fluid bg-danger authorpg">

	<div class="row">
		@* GET TABLE*@
		<div class="col-12" style="max-height: 500px; overflow-y: auto;">
			<form method="post">
				<h1 class="text-center">Create Author Page</h1>
				<table class="table table-bordered table-striped text-center">
					<thead>
						<tr>

							
							<th scope="col">Author Name</th>
							<th scope="col">Button</th>
							

						</tr>
					</thead>
					<tbody>


						<tr>
							<th scope="row"><input type="text" class="form-control" asp-for="FullName" /></th>
							
							<th scope="row">
									
								<button type="submit" class="btn btn-success">Add</button>
							</th>

						</tr>

					</tbody>
				</table>

			</form>
		</div>
	</div>
	@ViewBag.Error


	@* ADD TABLE*@

</div>

