@using Library.WebUI.Dtos.BookDtos
@model List<ResultBookDtos>





@{
	int count = 0;
}

<div class="container-fluid bg-danger authorpg">
	<div class="row" style="width:300px;">
		<table class="table table-bordered table-striped text-center">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Book Name</th>
					<th scope="col">Author Name</th>
					<th scope="col">Book Piece</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var item in Model)
				{
					count++;
					<tr>
						<th scope="row">@count</th>
						<td>@item.BookName</td>
						
						<td>@item.Author.FullName</td>
						
						<td>@item.Piece</td>
					</tr>
				}
				

			</tbody>
		</table>
	</div>

</div>