@using Library.WebUI.Dtos.BookDtos
@model UpdateBookDtos


<div class="container-fluid bg-danger authorpg">

	<div class="row">
		@* GET TABLE*@
		<div class="col-12" style="max-height: 500px; overflow-y: auto;">
			<form method="post">
				<input type="hidden" asp-for="BookId" />
				
				<h1 class="text-center">Update Book Page</h1>

				<table class="table table-bordered table-striped text-center">
					<thead>
						<tr>

							<th scope="col">Book Name</th>
							<th scope="col">Author Name</th>
							<th scope="col">Piece</th>
							<th scope="col">Update Book</th>

						</tr>
					</thead>
					<tbody>


						<tr>
						
						<th scope="row"><input type="text" class="form-control" asp-for="BookName"/></th>
							<th scope="row">
								<select asp-items="@ViewBag.selects" asp-for="AuthorID" class="form-control">
									<option>Select</option>
								</select>
							</th>
							<th scope="row"><input type="text" class="form-control" asp-for="Piece" /></th>
							<th scope="row">
								<button type="submit" class="btn btn-info">Update</button>
							</th>

						</tr>

					</tbody>
				</table>
				

			</form>
		</div>
	</div>
	@ViewBag.Update


	@* ADD TABLE*@

</div>

